@font-face {
    font-family: 'gramatika';
    src:  url('../fonts/Gramatika-LightItalic.woff') format('woff'),
      url('../fonts/Gramatika-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: 'gramatika';
    src:  url('../fonts/Gramatika-Light.woff') format('woff'),
      url('../fonts/Gramatika-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'gramatika';
    src:  url('../fonts/Gramatika-Regular.woff') format('woff'),
      url('../fonts/Gramatika-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'gramatika';
    src:  url('../fonts/Gramatika-Medium.woff') format('woff'),
      url('../fonts/Gramatika-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }
@font-face {
    font-family: 'gramatika';
    src:  url('../fonts/Gramatika-Bold.woff') format('woff'),
      url('../fonts/Gramatika-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

  

  

